body {
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;

    /* max-width: 1250px;
margin: 0 auto; */

}

.clr {
    color: #F00;
}

.main {
    max-width: 150px;
}

.container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    display: flex;
    justify-content: center;
    background-position: center;
    /* filte: brightness(70%); */
    height: 600px;
    margin: 0 150px;
    margin-top: 100px;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 80%;
    max-width: 1440px;
}

/* #cont{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    

} */

.container-box {
    /* display: flex; */
    text-align: center;
    padding-top: 80px;
}

.banner-title {
    margin: 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.banner-wish {
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.discount-container {
    align-items: center;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.title-des {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;


}

.catagory {
    display: flex;
    justify-content: center;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-join {

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    color: #FFF;
    background: transparent;
    border: none;
}

.party-box {
    max-width: 500px;
    margin-left: 100px;
}

.party-container {
    display: flex;
    width: 80%;
    max-width: 1440px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-position: center;
    height: 600px;
    margin: 0 150px;
    margin-top: 100px;
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    /* 137.5% */
    letter-spacing: 7.04px;
    /* padding-right: -100px; */
    padding-left: 50px;
    padding-right: 2px;
    padding-bottom: px;
    margin-top: 30px;
    max-width: 500px;
}

.party-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    /* 166.667% */
    padding-right: 0px;
    padding-left: 50px;
    margin-top: 0;
    margin-right: 0px;
    max-width: 550px;

}

/* .party-box{
    padding: 0;
} */

.party-img {
    margin-right: 100px;

}

.shadow-container {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%), url();
    display: block;
    justify-content: space-between;
    background-position: center;
    /* filte: brightness(70%); */
    height: 400px;
    margin: 0 150px;
    margin-top: 100px;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 80%;
    max-width: 1440px;
    padding-top: 100px;
}

.details {
    text-align: center;
    justify-content: center;

}

.btn-pink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 550px;
    padding: 16px 32px;
    gap: 10px;
    background-color: #F00;
    border-radius: 8px;
    color: #FFF;
    border: none;


}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;


}

.offer-container h4 {
    color: #F00;
    padding: 0;
    margin-bottom: -40px;
    margin-left: 5px;
}

.offer-container {
    display: block;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin-left: 100px;
    margin: 0 150px;
    margin-top: 50px;
}
/* .img-container{
    width: 34%;
    margin-left: 50px;
} */

.img-design {
    align-items: center;
    margin-right: 60px;
    border-radius: 463px;
    border: 10px solid #F00;
    padding: 10px;
    width: 280px;
    height: 280px;

}


.offer-second {
    width: 33%;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin: 0 150px;


}

.offer-second h2 {
    margin-bottom: -10px;
}

.offer-container h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: -15px;
}

.gift-des {
    margin-right: 50%;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    max-width: 1440px;
    margin-left: 60px;
    margin-right: 60px;

}

.blocks img {
    width: 385px;
    height: 285px;
    border: 2px;
    box-shadow: 4px 7px 7px 0 #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    border-radius: 10px;


}

.offer-container h5 {
    margin-top: 50px;
    margin-bottom: -40px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.blocks img:hover {
    filter: grayscale(1);
    transform: scale(1.03);

}

.newsletter {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    justify-content: space-between;
    background-position: center;
    /* filte: brightness(70%); */
    height: 400px;
    margin: 0 150px;
    margin-top: 100px;
    background-repeat: no-repeat;
    width: 80%;
    max-width: 1440px;
    padding-top: 100px;
}

.newsletter p {
    margin: 20px 300px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 15px;

}

.newsletter h1 {
    margin-bottom: -10px;
}

.sub-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    width: 100px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

#email {
    color: #484747;
    width: 300px;
    height: 40px;
    background: #FFF;
    gap: 0;
    border: none;
    padding-left: 15px;
    outline: none;
}
footer{
    background-position: center;
    background-color: #070211 ;
    margin-top: 50px;
    
}


.footer {
    display: flex;
    
    padding: 130px 200px;
    margin-top: 100px;
    gap: 500px;
}

.footer-section{
    /* width: 50%; */
    margin-top: -50px;
}

.section-details, .section-url , .section-num{
    color: #FFF;
    
}

.row-2{
    display: flex;
    justify-content: center;
    

}

.frame{
    height: 15px;
    width: 15px;
    padding-top: 20px;
    padding-right: 5px;
}

.section-details{
    width: 50%;
}

.center-icon{
    width: 100%;
    padding-bottom: 200px;
   
}

.social-icon{
    display: flex;
    justify-content: center;
    
}

.social-icon a {
    padding: 10px;

}
.line{
    margin: 0 100px;
    background: rgba(255, 255, 255, 0.15);
    
}